/*/debug/
/*/release/
Platform/Win32/Redist/
*.sdf
*.user
*.suo

Documentation/OpenNI.chw
Platform/Win32/Bin/Debug/NiAudioSample.exe
Platform/Win32/Bin/Debug/NiAudioSample.ilk
Platform/Win32/Bin/Debug/NiAudioSample.pdb
Platform/Win32/Bin/Debug/NiBackRecorder.exe
Platform/Win32/Bin/Debug/NiBackRecorder.ilk
Platform/Win32/Bin/Debug/NiBackRecorder.pdb
Platform/Win32/Bin/Debug/NiCRead.exe
Platform/Win32/Bin/Debug/NiCRead.ilk
Platform/Win32/Bin/Debug/NiCRead.pdb
Platform/Win32/Bin/Debug/NiConvertXToONI.exe
Platform/Win32/Bin/Debug/NiConvertXToONI.ilk
Platform/Win32/Bin/Debug/NiConvertXToONI.pdb
Platform/Win32/Bin/Debug/NiRecordSynthetic.exe
Platform/Win32/Bin/Debug/NiRecordSynthetic.ilk
Platform/Win32/Bin/Debug/NiRecordSynthetic.pdb
Platform/Win32/Bin/Debug/NiSampleModule.dll
Platform/Win32/Bin/Debug/NiSampleModule.ilk
Platform/Win32/Bin/Debug/NiSampleModule.pdb
Platform/Win32/Bin/Debug/NiSimpleCreate.exe
Platform/Win32/Bin/Debug/NiSimpleCreate.ilk
Platform/Win32/Bin/Debug/NiSimpleCreate.pdb
Platform/Win32/Bin/Debug/NiSimpleRead.exe
Platform/Win32/Bin/Debug/NiSimpleRead.ilk
Platform/Win32/Bin/Debug/NiSimpleRead.pdb
Platform/Win32/Bin/Debug/NiSimpleViewer.exe
Platform/Win32/Bin/Debug/NiSimpleViewer.ilk
Platform/Win32/Bin/Debug/NiSimpleViewer.pdb
Platform/Win32/Bin/Debug/NiUserTracker.exe
Platform/Win32/Bin/Debug/NiUserTracker.ilk
Platform/Win32/Bin/Debug/NiUserTracker.pdb
Platform/Win32/Bin/Debug/NiViewer.exe
Platform/Win32/Bin/Debug/NiViewer.ilk
Platform/Win32/Bin/Debug/NiViewer.pdb
Platform/Win32/Bin/Debug/OpenNI.pdb
Platform/Win32/Bin/Debug/niLicense.exe
Platform/Win32/Bin/Debug/niLicense.ilk
Platform/Win32/Bin/Debug/niLicense.pdb
Platform/Win32/Bin/Debug/niReg.exe
Platform/Win32/Bin/Debug/niReg.ilk
Platform/Win32/Bin/Debug/niReg.pdb
Platform/Win32/Bin/Debug/nimCodecs.dll
Platform/Win32/Bin/Debug/nimCodecs.ilk
Platform/Win32/Bin/Debug/nimCodecs.pdb
Platform/Win32/Bin/Debug/nimMockNodes.dll
Platform/Win32/Bin/Debug/nimMockNodes.ilk
Platform/Win32/Bin/Debug/nimMockNodes.pdb
Platform/Win32/Bin/Debug/nimRecorder.dll
Platform/Win32/Bin/Debug/nimRecorder.ilk
Platform/Win32/Bin/Debug/nimRecorder.pdb
Platform/Win32/Bin/Debug/openNI.dll
Platform/Win32/Bin/Debug/openNI.ilk
Platform/Win32/Bin/Release/NiAudioSample.exe
Platform/Win32/Bin/Release/NiAudioSample.pdb
Platform/Win32/Bin/Release/NiBackRecorder.exe
Platform/Win32/Bin/Release/NiBackRecorder.pdb
Platform/Win32/Bin/Release/NiCRead.exe
Platform/Win32/Bin/Release/NiCRead.pdb
Platform/Win32/Bin/Release/NiConvertXToONI.exe
Platform/Win32/Bin/Release/NiConvertXToONI.pdb
Platform/Win32/Bin/Release/NiRecordSynthetic.exe
Platform/Win32/Bin/Release/NiRecordSynthetic.pdb
Platform/Win32/Bin/Release/NiSampleModule.dll
Platform/Win32/Bin/Release/NiSampleModule.pdb
Platform/Win32/Bin/Release/NiSimpleCreate.exe
Platform/Win32/Bin/Release/NiSimpleCreate.pdb
Platform/Win32/Bin/Release/NiSimpleRead.exe
Platform/Win32/Bin/Release/NiSimpleRead.pdb
Platform/Win32/Bin/Release/NiSimpleViewer.exe
Platform/Win32/Bin/Release/NiSimpleViewer.pdb
Platform/Win32/Bin/Release/NiUserTracker.exe
Platform/Win32/Bin/Release/NiUserTracker.pdb
Platform/Win32/Bin/Release/NiViewer.exe
Platform/Win32/Bin/Release/NiViewer.pdb
Platform/Win32/Bin/Release/OpenNI.pdb
Platform/Win32/Bin/Release/niLicense.exe
Platform/Win32/Bin/Release/niLicense.pdb
Platform/Win32/Bin/Release/niReg.exe
Platform/Win32/Bin/Release/niReg.pdb
Platform/Win32/Bin/Release/nimCodecs.dll
Platform/Win32/Bin/Release/nimCodecs.pdb
Platform/Win32/Bin/Release/nimMockNodes.dll
Platform/Win32/Bin/Release/nimMockNodes.pdb
Platform/Win32/Bin/Release/nimRecorder.dll
Platform/Win32/Bin/Release/nimRecorder.pdb
Platform/Win32/Bin/Release/openNI.dll
Platform/Win32/Build/Modules/nimCodecs/Debug/
Platform/Win32/Build/Modules/nimCodecs/Release/
Platform/Win32/Build/Modules/nimMockNodes/Debug/
Platform/Win32/Build/Modules/nimMockNodes/Release/
Platform/Win32/Build/Modules/nimRecorder/Debug/
Platform/Win32/Build/Modules/nimRecorder/Release/
Platform/Win32/Build/OpenNI/Debug/
Platform/Win32/Build/OpenNI/Release/
Platform/Win32/Build/Samples/NiAudioSample/Debug/
Platform/Win32/Build/Samples/NiAudioSample/Release/
Platform/Win32/Build/Samples/NiBackRecorder/Debug/
Platform/Win32/Build/Samples/NiBackRecorder/Release/
Platform/Win32/Build/Samples/NiCRead/Debug/
Platform/Win32/Build/Samples/NiCRead/Release/
Platform/Win32/Build/Samples/NiConvertXToONI/Debug/
Platform/Win32/Build/Samples/NiConvertXToONI/Release/
Platform/Win32/Build/Samples/NiRecordSynthetic/Debug/
Platform/Win32/Build/Samples/NiRecordSynthetic/Release/
Platform/Win32/Build/Samples/NiSampleModule/Debug/
Platform/Win32/Build/Samples/NiSampleModule/Release/
Platform/Win32/Build/Samples/NiSimpleCreate/Debug/
Platform/Win32/Build/Samples/NiSimpleCreate/Release/
Platform/Win32/Build/Samples/NiSimpleRead/Debug/
Platform/Win32/Build/Samples/NiSimpleRead/Release/
Platform/Win32/Build/Samples/NiSimpleViewer/Debug/
Platform/Win32/Build/Samples/NiSimpleViewer/Release/
Platform/Win32/Build/Samples/NiUserTracker/Debug/
Platform/Win32/Build/Samples/NiUserTracker/Release/
Platform/Win32/Build/Samples/NiViewer/Debug/
Platform/Win32/Build/Samples/NiViewer/Release/
Platform/Win32/Build/Utils/niLicense/Debug/
Platform/Win32/Build/Utils/niLicense/Release/
Platform/Win32/Build/Utils/niReg/Debug/
Platform/Win32/Build/Utils/niReg/Release/
Platform/Win32/Build/ipch/
Platform/Win32/CreateRedist/Final/
Platform/Win32/CreateRedist/Output/
Platform/Win32/Driver/Build/buildfre_wlh_amd64.log
Platform/Win32/Driver/Build/buildfre_wlh_amd64.wrn
Platform/Win32/Driver/Build/buildfre_wlh_x86.log
Platform/Win32/Driver/Build/buildfre_wlh_x86.wrn
Platform/Win32/Driver/Build/psdrv3.sln.old
Platform/Win32/Driver/Build/sys/objfre_wlh_amd64/
Platform/Win32/Driver/Build/sys/objfre_wlh_x86/
Platform/Win32/Driver/Sign/
Platform/Win32/Lib/
temp.txt